* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.text-area-wrap {
  position: relative;
}

.text-area-wrap textarea {
  width: 500px;
  height: 100px;
}

.mentions {
  position: absolute;
  background-color: red;
  color: #fff;
}
